Repository sardana-org/sardana, pull requests merged in 2018-07, with the labels that each got.

#779 Fix nexus path windows
  src/sardana/macroserver/recorders/h5storage.py
Labels: bug

#828 Remove controller template from Controller examples
  doc/source/devel/examples/ControllerTemplate.py
  doc/source/devel/examples/controller_examples.rst
Labels: doc

#829 Remove the old code repositories reference
  doc/source/devel/guide_coding.rst
Labels: doc

#835 Remove FAQ how to add conditions
  doc/source/users/faq.rst
Labels: doc

#838 Add "Handling macro stop and abort" documentation
  doc/source/devel/howto_macros/macros_general.rst
  doc/source/users/spock.rst
Labels: doc

#841 Add warning message about the wrong file path
  src/sardana/spock/spockms.py
Labels: doc

#831 Docs: Avoid duplication of macro docstings
  doc/source/devel/api/sardana/macroserver/macros.rst
  doc/source/devel/api/sardana/macroserver/macros/communication.rst
  doc/source/devel/api/sardana/macroserver/macros/demo.rst
  doc/source/devel/api/sardana/macroserver/macros/env.rst
  doc/source/devel/api/sardana/macroserver/macros/expert.rst
  doc/source/devel/api/sardana/macroserver/macros/hkl.rst
  doc/source/devel/api/sardana/macroserver/macros/ioregister.rst
  doc/source/devel/api/sardana/macroserver/macros/lists.rst
  doc/source/devel/api/sardana/macroserver/macros/mca.rst
  doc/source/devel/api/sardana/macroserver/macros/scan.rst
  doc/source/devel/api/sardana/macroserver/macros/sequence.rst
  doc/source/devel/api/sardana/macroserver/macros/standard.rst
  src/sardana/macroserver/macros/communication.py
  src/sardana/macroserver/macros/demo.py
  src/sardana/macroserver/macros/env.py
  src/sardana/macroserver/macros/hkl.py
  src/sardana/macroserver/macros/lists.py
  src/sardana/macroserver/macros/scan.py
  src/sardana/macroserver/macros/sequence.py
Labels: doc

#834 Adding elements documentation
  doc/source/devel/howto_controllers/index.rst
  doc/source/users/adding_elements.rst
  doc/source/users/getting_started/running_cli.rst
  doc/source/users/index.rst
Labels: doc

#847 Documenting spock syntax and advanced spock syntax
  doc/source/users/spock.rst
Labels: doc

#845 Move drift correction from pseudomotor overview to pseudomotor api
  doc/source/devel/api/api_pseudomotor.rst
  doc/source/devel/overview/overview_pseudomotor.rst
Labels: doc

#850 Add the Sardana Wiki.
  doc/source/index.rst
Labels: doc

#848 Doc macrobutton
  doc/source/_static/macrobutton.png
  doc/source/_static/macrobutton_abort.png
  doc/source/users/taurus/index.rst
  doc/source/users/taurus/macrobutton.rst
Labels: doc

#842 Remove support for RTD doc builds
  doc/buildmock.py
  doc/mock.zip
  doc/source/conf.py
  doc/source/docs.rst
  doc/source/index.rst
  doc/source/other_versions.rst
  doc/source/revision.rst
  doc/source/todo.rst
Labels: doc, enhancement

#853 Document online visualization of scans
  doc/source/_static/expconf-showplot.png
  doc/source/users/spock.rst
  doc/source/users/taurus/experimentconfiguration.rst
Labels: doc, enhancement

#851 Document Sardana configuration
  doc/source/devel/api/api_macroserver.rst
  doc/source/devel/api/api_pool.rst
  doc/source/devel/api/api_sardana.rst
  doc/source/devel/api/sardana/macroserver/macroserver.rst
  doc/source/devel/api/sardana/tango/macroserver.rst
  doc/source/devel/api/sardana/tango/macroserver/MacroServer.rst
  doc/source/users/configuration/index.rst
  doc/source/users/configuration/macroserver.rst
  doc/source/users/configuration/pool.rst
  doc/source/users/configuration/sardanacustomsettings.rst
  doc/source/users/configuration/spock.rst
  doc/source/users/index.rst
  doc/source/users/taurus/index.rst
Labels: doc

#854 Add documentation for expconf tabs
  doc/source/_static/expconf-snapshot-group.png
  doc/source/_static/expconf-storage.png
  doc/source/users/taurus/experimentconfiguration.rst
Labels: doc

#849 Macroserver Environment Variables Catalog
  doc/source/users/environment_variable_catalog.rst
  doc/source/users/index.rst
  doc/source/users/macro_environment.rst
  doc/source/users/scan.rst
Labels: doc

#855 Add ctrl properties and its description in sar_info
  doc/source/users/adding_elements.rst
  src/sardana/pool/poolmetacontroller.py
Labels: doc

#856 Add documentation for scan snapshots
  doc/source/users/scan.rst
Labels: doc

#858 Add info on spock profile path
  doc/source/users/spock.rst
Labels: doc

#861 Remove duplicated info about cloning from git
  doc/source/devel/guide_coding.rst
  doc/source/users/getting_started/installing.rst
Labels: doc

#862 Move and extend showscan docs
  doc/source/users/spock.rst
  doc/source/users/taurus/index.rst
  doc/source/users/taurus/showscan.rst
Labels: doc

#857 [WIP] Add how to pseudomotors
  doc/source/devel/howto_controllers/howto_pseudomotorcontroller.rst
Labels: doc

#864 Adding min_value and max_value to column_desc for mesh scans
  src/sardana/macroserver/macros/scan.py
Labels: bug

#865 Fix Pool element taurus extensions when Pool object ref was not filled (Fix Issue 57)
  src/sardana/taurus/core/tango/sardana/pool.py
Labels: bug

#859 Fix warnings during docs build
  .travis.yml
  doc/source/conf.py
  doc/source/devel/api/api_sardana.rst
  doc/source/devel/api/tango_device_pool.rst
  doc/source/devel/api/tango_macroserver.rst
  src/sardana/macroserver/macro.py
  src/sardana/macroserver/macroserver.py
  src/sardana/macroserver/msdoor.py
  src/sardana/macroserver/msenvmanager.py
  src/sardana/macroserver/msmacromanager.py
  src/sardana/macroserver/msrecordermanager.py
  src/sardana/pool/controller.py
  src/sardana/pool/pool.py
  src/sardana/pool/poolbaseelement.py
  src/sardana/pool/poolcontroller.py
  src/sardana/pool/poolcontrollermanager.py
  src/sardana/pool/poolcontrollers/HklPseudoMotorController.py
  src/sardana/pool/test/test_synchronization.py
  src/sardana/sardanaattribute.py
  src/sardana/sardanabase.py
  src/sardana/sardanabuffer.py
  src/sardana/sardanacontainer.py
  src/sardana/sardanadefs.py
  src/sardana/sardanaevent.py
  src/sardana/sardanameta.py
  src/sardana/sardanamodulemanager.py
  src/sardana/tango/core/SardanaDevice.py
  src/sardana/tango/core/util.py
  src/sardana/tango/pool/Pool.py
  src/sardana/tango/pool/PoolDevice.py
  src/sardana/taurus/core/tango/sardana/pool.py
Labels: doc

#813 Join pool of threads in cont scan
  src/sardana/macroserver/scan/gscan.py
Labels: bug

#872 Fix Controller taurus extension
  src/sardana/taurus/core/tango/sardana/pool.py
Labels: bug

#730 Adding filter to spock logging filehandler
  src/sardana/macroserver/msmacromanager.py
  src/sardana/sardanacustomsettings.py
Labels: enhancement

#874 Configure ORBendpoint omniORB argument from free properties
  doc/source/users/configuration/index.rst
  doc/source/users/configuration/server.rst
  doc/source/users/getting_started/running_server.rst
  src/sardana/tango/core/util.py
Labels: enhancement

#875 Docs: ViewOptions
  doc/source/users/spock.rst
  src/sardana/macroserver/macros/env.py
Labels: doc

#860 Issue 811 - add sequence diagrams for pseudo motors position read/write
  doc/sketches/sketches.odp
  doc/source/_static/sardana_server_internal_pseudomotor_read_position_flow.png
  doc/source/_static/sardana_server_internal_pseudomotor_write_position_flow.png
  doc/source/devel/api/api_motor.rst
  doc/source/devel/api/api_pseudomotor.rst
Labels: doc

#780 Acquisition hooks
  src/sardana/macroserver/macros/scan.py
  src/sardana/macroserver/scan/gscan.py
Labels: enhancement

#772 Fix generic intervals estimation
  src/sardana/macroserver/scan/gscan.py
Labels: bug

#762 fix controller/macro path on windows
  src/sardana/macroserver/msmacromanager.py
  src/sardana/macroserver/msrecordermanager.py
  src/sardana/pool/poolcontrollermanager.py
  src/sardana/tango/macroserver/MacroServer.py
  src/sardana/tango/pool/Pool.py
Labels: bug

#881 [WIP] Docu: Taurusextensions
  doc/source/devel/api/sardana/sardana.rst
  doc/source/devel/api/sardana/taurus.rst
  doc/source/devel/api/sardana/taurus/core.rst
  doc/source/devel/api/sardana/taurus/core/tango.rst
  doc/source/devel/api/sardana/taurus/core/tango/sardana.rst
  doc/source/devel/api/sardana/taurus/core/tango/sardana/pool.rst
  doc/source/devel/howto_macros/macros_general.rst
  src/sardana/pool/poolcontroller.py
Labels: doc
