Repository sardana-org/sardana, pull requests merged in 2019-06, with the labels that each got.

#1130 Doc: add details about the synchronized multi axes start
  doc/source/devel/howto_controllers/howto_countertimercontroller.rst
Labels: doc

#1127 Add a link to list of known bugs
  doc/source/users/index.rst
Labels: doc

#1131 Add short overview of MotorGroups
  doc/source/devel/api/sardana/tango/pool.rst
  doc/source/devel/api/sardana/tango/pool/MotorGroup.rst
  doc/source/devel/overview/index.rst
  doc/source/devel/overview/overview_motorgroup.rst
Labels: doc

#1126 Remove confgui references
  doc/source/_static/snapshot07.png
  doc/source/_static/snapshot09.png
  doc/source/_static/snapshot10.png
  doc/source/users/overview.rst
Labels: doc

#1128 Modify StartAllCT implementation
  src/sardana/pool/controller.py
Labels: bug, doc

#1132 Docu: EPICS access
  doc/source/users/faq.rst
Labels: doc

#1136 Add spock format documentation for sequencer
  doc/source/users/taurus/sequencer.rst
Labels: doc

#1135 Add motion introduction to user's guide
  doc/source/users/index.rst
  doc/source/users/motion.rst
Labels: doc

#1133 Add macro simultaneous actions description and examples
  doc/source/devel/howto_macros/macros_general.rst
Labels: doc

#1120 Conditional output of send2ctrl macro
  .gitignore
  src/sardana/macroserver/macros/expert.py
Labels: enhancement

#1141 Add trig-gate sketches
  doc/sketches/sketches.odp
  doc/source/_static/acqsynch_hardgate.png
  doc/source/_static/acqsynch_hardstart.png
  doc/source/_static/acqsynch_hardtrig.png
  doc/source/_static/acqsynch_softstart.png
  doc/source/_static/acqsynch_softtrig.png
  src/sardana/pool/pooldefs.py
Labels: doc

#1143 Add documentation of sardana editor
  doc/source/_static/sardanaeditor.png
  doc/source/glossary.rst
  doc/source/users/taurus/sardanaeditor.rst
Labels: doc

#1144 Add PoolMotorTV doc
  doc/source/_static/pmtv.png
  doc/source/_static/pmtv_attr_editor.png
  doc/source/users/taurus/index.rst
  doc/source/users/taurus/poolmotortv.rst
Labels: doc

#1108 Issue #1107: description length lsdef macro
  doc/source/users/spock.rst
  src/sardana/macroserver/macros/env.py
  src/sardana/macroserver/macros/lists.py
  src/sardana/macroserver/msoptions.py
Labels: enhancement

#1073 Add protection to showscan
  src/sardana/spock/spockms.py
Labels: bug

#1042 "showscan online" Improvements.
  doc/source/_static/showscan-online.png
  doc/source/devel/api/sardana/sardana.rst
  doc/source/devel/api/sardana/spock.rst
  doc/source/devel/api/sardana/spock/magic.rst
  doc/source/users/spock.rst
  doc/source/users/taurus/showscan.rst
  src/sardana/spock/magic.py
  src/sardana/taurus/qt/qtgui/extra_sardana/__init__.py
  src/sardana/taurus/qt/qtgui/extra_sardana/expdescription.py
  src/sardana/taurus/qt/qtgui/extra_sardana/showscanonline.py
  src/sardana/taurus/qt/qtgui/macrolistener/macrolistener.py
Labels: enhancement

#672 645 issue - Allow string ParamRepeats on load Sequencer plain text
  doc/source/users/spock.rst
  doc/source/users/taurus/sequencer.rst
  src/sardana/taurus/core/tango/sardana/macro.py
  src/sardana/taurus/core/tango/sardana/macroserver.py
  src/sardana/taurus/qt/qtgui/extra_macroexecutor/sequenceeditor/model.py
  src/sardana/taurus/qt/qtgui/extra_macroexecutor/sequenceeditor/sequenceeditor.py
  src/sardana/util/parser.py
  src/sardana/util/test/test_parser.py
Labels: enhancement

#775 SEP2 - Improve integration of 1D and 2D experimental channels
  CHANGELOG.md
  doc/source/sep/SEP2.md
  src/sardana/macroserver/macros/standard.py
  src/sardana/macroserver/macros/test/test_scanct.py
  src/sardana/macroserver/recorders/h5storage.py
  src/sardana/macroserver/recorders/output.py
  src/sardana/macroserver/recorders/test/__init__.py
  src/sardana/macroserver/recorders/test/test_h5storage.py
  src/sardana/macroserver/scan/gscan.py
  src/sardana/macroserver/scan/scandata.py
  src/sardana/pool/controller.py
  src/sardana/pool/poolacquisition.py
  src/sardana/pool/poolbasechannel.py
  src/sardana/pool/poolcontroller.py
  src/sardana/pool/poolcontrollers/DummyCounterTimerController.py
  src/sardana/pool/poolcontrollers/DummyTwoDController.py
  src/sardana/pool/poolmeasurementgroup.py
  src/sardana/pool/poolonedexpchannel.py
  src/sardana/pool/pooltwodexpchannel.py
  src/sardana/pool/test/base.py
  src/sardana/pool/test/res/controllers/ROI.py
  src/sardana/pool/test/test_acquisition.py
  src/sardana/pool/test/util.py
  src/sardana/sardanabuffer.py
  src/sardana/sardanacustomsettings.py
  src/sardana/tango/pool/CTExpChannel.py
  src/sardana/tango/pool/OneDExpChannel.py
  src/sardana/tango/pool/PoolDevice.py
  src/sardana/tango/pool/PseudoCounter.py
  src/sardana/tango/pool/TwoDExpChannel.py
  src/sardana/tango/pool/ZeroDExpChannel.py
  src/sardana/tango/pool/test/base.py
  src/sardana/tango/pool/test/base_sartest.py
  src/sardana/tango/pool/test/test_measurementgroup.py
  src/sardana/taurus/core/tango/sardana/pool.py
  src/sardana/taurus/core/tango/sardana/sardana.py
  src/sardana/taurus/core/tango/sardana/test/test_pool.py
  src/sardana/taurus/qt/qtgui/extra_sardana/measurementgroup.py
Labels: enhancement

#1083 Change mapping of Integer data type to Tango DevLong64
  src/sardana/tango/core/util.py
Labels: enhancement

#1160 Fix spock's output block on windows
  src/sardana/taurus/core/tango/sardana/macroserver.py
Labels: bug
