Repository sardana-org/sardana, pull requests merged in 2021-04, with the labels that each got.

#1556 (test) use os.pathsep as recorder paths separator in test.
  src/sardana/macroserver/test/test_msrecordermanager.py
Labels: test

#1557 Fix measurement group tango test
  src/sardana/tango/pool/test/test_measurementgroup.py
Labels: test, windows

#1555 Using PosFormat in umv
  src/sardana/macroserver/macros/env.py
  src/sardana/macroserver/macros/standard.py
Labels: enhancement

#1559 (fix) Avoid already finished macro being aborted at MS exit
  src/sardana/macroserver/msdoor.py
  src/sardana/macroserver/msmacromanager.py
Labels: bug, windows

#1563 Make h5storage tests pass on WIndows
  src/sardana/macroserver/recorders/test/test_h5storage.py
Labels: test, windows

#1558 (test) Avoid crashes of tests at process exit
  src/sardana/tango/macroserver/test/macroexecutor.py
  src/sardana/tango/pool/test/test_measurementgroup.py
Labels: test, windows

#1567 (test) avoid executing Pool's DeleteElement() cmd on Windows
  src/sardana/tango/pool/test/base_sartest.py
  src/sardana/tango/pool/test/test_Motor.py
  src/sardana/tango/pool/test/test_measurementgroup.py
  src/sardana/tango/pool/test/test_persistence.py
  src/sardana/taurus/core/tango/sardana/test/test_measgrpconf.py
  src/sardana/taurus/core/tango/sardana/test/test_measgrpstress.py
  src/sardana/taurus/core/tango/sardana/test/test_pool.py
Labels: test, windows

#1564 (test) skip qtspock test_get_value if qtconsole >= 4.4.0
  src/sardana/taurus/qt/qtgui/extra_sardana/test/test_qtspock.py
Labels: test

#1566 (fix) prompt in qtspock when used with new traitlets
  src/sardana/taurus/qt/qtgui/extra_sardana/qtspock.py
Labels: bug

#1568 (test) increase timeout for qtspock tests
  src/sardana/taurus/qt/qtgui/extra_sardana/test/test_qtspock.py
Labels: test, windows

#1569 (fix) sardana GUIs launchers on Windows
  setup.py
Labels: bug, windows

#1572 (fix) make PMTV relative move combobox accept only positive numbers
  src/sardana/taurus/qt/qtgui/extra_pool/poolmotor.py
Labels: bug
